<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845637312594-suaep0998sgoabs56s7g1k6u8r8f1a56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845637312594-suaep0998sgoabs56s7g1k6u8r8f1a56</string>
	<key>API_KEY</key>
	<string>AIzaSyCWv9oflE2Ane2nXEHY44-Dd1vvcI0ofYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>845637312594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshbourke.CustomCameraEdit</string>
	<key>PROJECT_ID</key>
	<string>nutrify-80d14</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrify-80d14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845637312594:ios:2b1022e95468ff6b0dff8b</string>
</dict>
</plist>